.container{
    background: #ffffff;
    padding: 1vw;
    margin-top: 2.6vw;
    border-radius: 1vw;
    box-shadow: #00000014 -1px 1px 33px;
}

.badge{
    display: flex;
    padding: 0.6vw;
    background: blueviolet;
    color: white;
    width: 7vw;
    float: right;
    border-radius: 0.5vw;
    justify-content: center;
}

.cont-margin{
    display: flex;
    margin: 1vw 8vw;
}

.title{
    font-size: 2.5vw;
}

.nav-item{
    display: flex;
    gap: 1vw;
    margin: 1vw 8vw;
}