<div class="nav-item">
    <a [routerLink]="['/assignment_1/read']" [queryParams]="{ q: ['authors'] }">Author</a><br />
    <a [routerLink]="['/assignment_1/read']" [queryParams]="{ q: ['books', 'magazines'] }">Books & Magazine</a>
</div>
<div class="cont-margin">
  <input
    type="text"
    placeholder="Enter ISBN"
    [(ngModel)]="text"
    class="input-search"
  />
  <button type="submit" (click)="search()" class="btn">Search</button>
</div>
<div class="cont-margin column">
  <div class="container" *ngFor="let a of data">
    <div class="badge" *ngIf="a.type">{{ a.type }}</div>
    <div class="title" *ngIf="a.title">
      {{ a.title }}
    </div>
    <div class="temp" *ngIf="a.description">
      {{ a.description.slice(0, 200) + "..." }}
    </div>
    <div class="temp" *ngIf="a.isbn">{{ a.isbn }}</div>
    <div class="temp" *ngIf="a.authors">
      <i *ngFor="let f of a.authors.split(',')">
        {{ f }}
      </i>
    </div>
    <div class="title" *ngIf="a.firstname && a.lastname">
       {{ a.firstname }} {{ a.lastname }}
    </div>
    <div class="temp" *ngIf="a.email"><b>Email</b> : {{ a.email }}</div>
    <div class="temp" *ngIf="a.publishedAt">
      <b>Published At</b> : {{ a.publishedAt }}
    </div>
    <div class="temp" *ngIf="isAuthor">
      <a
        routerLink="/assignment_1/read"
        [queryParams]="{ q: ['books', 'magazines'], author: a.email }"
        >Show books and magazines</a
      >
    </div>
  </div>
</div>
